<ion-tabs>
  <ion-tab-bar slot="bottom" class="tabs-bg">
    <ion-tab-button  tab="message"> 
      <ion-icon name="mail"></ion-icon>
      <ion-label>Mis mensajes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notification" (click)="resetBadgeCount()">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    
    </ion-tab-button>
    <ion-tab-button tab="chat">
      <ion-icon name="chatbox"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<ion-fab horizontal="end" vertical="center" slot="fixed">
  <ion-fab-button color="light">
    <ion-icon name="share"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button color="primary">
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  
  
  <!--<ion-fab-list side="start">
    <ion-fab-button color="light" (click)="addPhotoToGallery()">
      <ion-icon name="call-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>-->
</ion-fab>