#map {
  width: 100%;
  height: 100%;
}
.icon{
  width: 55%;
  margin-left: 10%;

}
.header{
  background-color: #282F69;
}
.toolbar-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: full;
  padding-right: 5%;
  align-items: center;
  ion-title {
      font-weight: 100;
      font-size: 14px;
      color: white;
      justify-self: center;
  }
  ion-avatar {
      width: 30px;
      height: 30px;
      justify-self: flex-end;
      align-self: center;
  }
  ion-back-button {
      --color: white;
  }
  ion-content {
      --background: #ffffff;
  }
}

