/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.toolbar-content{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: full;
    padding-right: 5%;
    align-items: center;

    
  ion-title{
    font-weight: 100;
    font-size: 14px;
    color:white;
    justify-self: center;

  }
  ion-avatar{
      
      width: 30px;
      height: 30px;
      justify-self: flex-end;
      align-self: center;              

    }

    ion-back-button{
      --color: white;
    }
    

  
}


  .toolbar-bg{
    --background: #282F69;
  }

  .center-img{
    margin-left: 10%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    height: 10vw;

    
  }
  .mapa-popover{
    --width:100vw;
  }
  .my-custom-class{
    --width:85vw;
    #header-card{
      /*text-align: left;
      background: linear-gradient(-90deg,#20478B ,#2487C9);    
      color:white;
      font-size: 12px;
      height: 50px;*/

      background: #282F69;    
      color:white;
      justify-content: center;
      height: 40px;
      ion-title{
        font-size: 13px;
        padding-top: 5%;
        text-transform: uppercase;
        text-align: center;
      }
    }
    #body-content{
      display: grid;
      width: 95%;
      height: 150;
      font-size: 12px;
      padding-left: 3px;
      grid-template-rows:25px, 25px, repeat(3,24px) ;
      justify-content: center;
      align-content: center;
      
      
  
    }
    #buttons-content{
      display: grid;
      width: 100%;
      grid-template-columns:repeat(3,33%) ; 
      justify-items:center;
      align-items: center;

    }
    #preg{
      text-align: center;
    }
    .btn-si{
      --background: #E5242F;  
      --border-radius:50%; 
      width:50px;
      height: 50px;
  
    }
  
    .btn-no{
      --background: #AEADB3;  
      --border-radius:50%; 
      width:50px;
      height: 50px;
    }

    .btn-mapa{
      --background: #4aca60;  
      --border-radius:50%; 
      width:50px;
      height: 50px;
    }
     

  }
  .TermsModal {
    --width: 90%;
    --height: 90%;
    padding: 10px 5px 0px 6px;
}

  .notification-class{
    --height:65vh;
    --width:75vw;
    #header-card{
      
      //display: flex;
      background: #282F69;    
      color:white;
      justify-content: center;
      text-align: center;
      height: 50px;
      ion-title{
        font-size: 13px;
        padding-top: 5%;
      }
      
    }

    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top:30px;
      margin-bottom:10px;
      width: 75px;
      height: 75px;
      
    }

    p{
      text-align: center;
      padding-top: 10px;
      font-size: 12px;
      padding-bottom: 10%;
    }
  }

  .btn{
    
    color: #2487C9;  
    
    //padding-top: 10%;
  }
  ion-menu-button{
    color:white
}
.servicioasignado {
  ion-popover{
    --width: 90vw !important;
    --min-width: 90vw !important;
  }
  .sc-ion-popover-md-h{
    --width: 90% !important;
  }
  .sc-ion-modal {
    --width: 90%;
  }
  #header-card {
      text-align: center;
      background: #282F69;
      color: white;
      font-size: 10px;
  }
  #body-content {
      font-size: 20px;
  }
  .btn-si {
      width: 89%;
      height: 40px;
  }
  //.sc-ion-popover-md-h {
  // --width: 90%; //POPOVERCAMBIO 
  //   --min-height:30%;
  ///  --max-height: 30%;
  //  --box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  //  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
  // }
}

